{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

  {% if user %}

    <p>Welcome, {{user.username}}</p>
    <a href="/logout">Logout</a>

  {% else %}
    <a href="/register">Register</a> or <a href="/login">Login</a>

  {% endif %}

    <h1>{{ title }}</h1>

    <form id="superhero-form">
      <div class="form-group">
        <input type="text" class="form-control" id="name" placeholder="Name" require>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="enemy" placeholder="Enemy" require>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="power" placeholder="Power" require>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <br>
    <p id="message"></p>

    <br>
    <ul id="all"></ul>

  </div>

{% endblock %}
